#site-sidenav{
    font-family: $Lato;
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    background-color: $white-background; 
    overflow-x: hidden; 
    padding-top: 15px; 
    margin-top: 50px;
    @include animate_open_default;

    &.open{
        width: 250px;

        @media screen and (max-width: 767px) {
           width: 100%;
        }

        ul > li > a{
            opacity: 1;
        }
    }
    
    ul{
        list-style-type: none;
        padding: 0;

        li{
            padding: 8px 30px;
            width: 100%;

            div{
                display: inline-block;

                a{
                    text-transform: capitalize;
                    font-size: 1.375em; //22px;
                    color: $black-fonts;
                    text-decoration: none;
                    position: relative;
                    display: block;
                    outline: 0;

                    &:before, 
                    &:after {
                        content: '';
                        border-bottom: solid 1px $black-fonts;
                        position: absolute;
                        bottom: 0;
                        width: 0;
                    }

                    &:before { 
                        left: 0; 
                    }
                    &:after { 
                        right: 0; 
                    }

                    &:hover:before, 
                    &:hover:after,
                    &:focus:before, 
                    &:focus:after{
                      width: 50%;
                    }

                    &:before, 
                    &:after{
                       transition: all 0.5s ease;
                    }

                    &.active{
                        &:before, 
                        &:after {
                            content: '';
                            border-bottom: solid 1px $black-fonts;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}



