@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);

// Background
$gray-background: #f0f0f0;
$black-background: #000000;
$white-background: #ffffff;

// Hover, Focust, etc.
$gray-hover:  #e6e6e6;
$gray-plus-hover: #7d7d7d;
// Fonts
$black-fonts: #000000;
$white-fonts: #ffffff;

// Font Families
$Lato: 'Lato', sans-serif;